body{
    box-sizing:border-box;
    background-color: white;
    font-size: 16px;
    height: 100vh;
}

.student-data-row{
    margin-top: 2em !important;
    padding: 1em;
}

.student-data-col{
    text-align: center;
}

.student-details{
    margin-top: 6px;
}

#add-button{
    background-color: orange;
    margin-top: 10px;
}

table{
    width: 90%;
    margin: 0 auto;
}

table,th,td{
    border: 1px solid !important;
}

#col-modify{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

#editButton{
    background-color: #838a21;
}

#deleteButton{
    background-color: #bf5e78;
}

#editButton,#deleteButton{
    padding: 3px;
    border: 2px solid black;
    border-radius: 3px;
    min-width: 25%;
    max-width: 50%;
}